@use 'src/styles/vars' as v;

.messages {
  padding: v.$gutter * 2;
  overflow: auto;
  &__user {
    margin-bottom: v.$gutter;
    margin-left: v.$gutter * 1.5;
    font-size: .8em;
  }
  &__message {
    background-color: white;
    padding: v.$gutter * 1.5;
    border-radius: 30px;
    color: v.$color-text;
    margin-bottom: 2 * v.$gutter;
    min-width: 150px;
    display: inline-block;
    font-size: 1em;
  }
}

